//GLOBAL PROPERTIES
//colors
$primaryColor: #54e6d7;
$lightPrimaryColor: #b5f8f0;
$darkPrimaryColor: #00bebd;
$secondaryColor: #ecf9f8;
$grey: #CCC;

//screen size
$mobileMaxWidth: 767px;
$phoneMaxWidth: 480px;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

