$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import './config';

body {
  //global settings
  color: $defaultTextColor;
}

.main {
  @media (min-width: $width-md) {
    margin-bottom: 150px;
  }

  //layout
  .main-search {
  }

  .main-filter {
    padding: 0;
  }

  .main-result {
  }

  .main-map {
    padding: 0;
  }

  .main-favourite {
    position: fixed;
    top: auto; bottom: 0; right: 0; left: 0;

    height: 50px;
    border: solid 1px #000;
  }
}

@import './modules/ie-notifier';
@import './modules/searchBar';
@import './modules/resultList';
@import './modules/map';
@import './modules/filterBar';
@import './modules/favouriteBar';