@import '../config';

.filterBar {
	.staticBar {
		background-color: $primaryColor;
		padding: 10px;

		display: flex;
		align-items: center;

		.filter-expandButton {
			flex-shrink: 0;
			border: none;
			outline: none;
			background-color: transparent;
			border-right: solid 2px #FFF;
			border-radius: 0;

			color: $white;
			font-weight: bold;

			img {
				width: 10px;
				height: auto;
			}

			@media (max-width: $width-md) {
				width: 100%;
				border: none;
			}
		}

		.selectedOptionContainer {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			.selectedItem {
				margin: 5px;

				height: 25px;
				background-color: $white;
				border: solid 1px $grey;

				display: flex;
				align-items: center;

				.categoryImage {
					margin: 10px;
					height: 15px;
					width: auto;
				}

				.removeButton {
					margin: 10px;
					height: 10px;
					width: auto;
				}

				button {
					border: none;
					outline: none;
					background-color: transparent;
					padding: 0;
				}

				h5 {
					font-size: 12px;
				}
			}
		}
	}

	.filterOptions {
	    display: none;
	    width: 100%;

	    @media (max-width: $width-md) {
	    	margin-bottom: 50px;
	    }

	    .item {
	        border-bottom: solid 1px $grey;
	        padding-top: 5px;
	        padding-bottom: 5px;

			.line {
				display: flex;
				align-items: center;
			}

			.solid {
				flex-shrink: 0;
			}

			.fieldNameContainer {
				width: 50%;

				display: flex;
				align-items: center;
				flex-shrink: 0;
			}

			.fieldImage {
		            width: 20px;
		            height: auto;

		            margin: 10px;
		        }

			select {
				width: 50%;
				margin: 10px 0;
			}

	        .item {
	            border: none;
	            width: 50%;
	            padding-left: 0;

	            .fieldImage {
	            	height: 15px;
	            	width: auto;
	            }

	            select {
	            	width: 100%;
	            }
	        }

	        .item.leftItem {
	        	padding-right: 10px;
	        }

	        .item.rightItem {
	        	padding-left: 10px;
	        }

	        input[type='text'] {
	    		margin: 10px 0;
	    	}
	    }

	    .priceField {
	    	.fieldNameContainer {
	    		width: 70%;
	    	}

	    	button {
	    		width: 30%;

	    		border: none;
	    		outline: none;
	    		background-color: $primaryColor;
	    		color: $white;
	    	}

	    	input[type='text'] {
	    		width: 50%;
	    	}

	        //slider styling
	        .slider {
	        	height: 40px;
	        }

	        .slider-handle {
	            background-color: $primaryColor;
	            background-image: none;
	        }

	        .slider-selection {
	            background-image: none;
	            background-color: $lightPrimaryColor;
	        }

	        .slider-horizontal {
	            width: 90%;
	            margin-left: 5%;
	        }
	    }

	    .additional {
	        border: none;

	        .fieldName {
	            width: calc(100% - 40px);
	        }
	    }

	    > button {
	    	margin: 10px 5%;
	        width: 90%;
	        height: 50px;
	        background-color: $primaryColor;
	        border: none;
	        outline: none;
	        color: #FCFCFC;
	        font-weight: bold;
	        box-shadow: 0px 0px 10px $grey;

	        @media (max-width: $width-md) {
	        	position: fixed;
	        	bottom: 0; top: auto; left: 0; right: 0;
	        }
	    }

	    .checkboxContainer {
	    	display: flex;
			align-items: center;
			flex-wrap: wrap;

			.item {
				width: 50%;
				height: 40px;
				margin: 0;
			}

			.checkbox {
				padding-left: 15px;
				margin-top: 5px;
				margin-bottom: 5px;
			}
	    }

	    .leftCol {
	    	max-width: 100%;
	    }

	    .colContainer {
	    	display: flex;
			align-items: flex-start;
			flex-wrap: wrap;

			> .leftCol , > .rightCol {
				width: 50%;
				padding-left: 15px;
				padding-right: 15px;

				@media (max-width: $width-md){
					width: 100%;
				}
			}

			> .rightCol {
				@media (min-width: $width-md) {
					border-left: solid $grey 1px;
				}
			}
	    }
	}
}