@import '../config';

.infoBar {
	background-color: #FCFCFC;
	height: 40px;
	overflow: hidden;
	padding: 10px;

	display: flex;
	align-items: center;
	justify-content: space-around;

	.detailItem {
		display: flex;
		align-items: center;

		img {
			margin: 5px;

			height: 14px;
			width: auto;
		}
	}
	.price {
		float: right;
		font-size: 14px;
	}
}