@import '../config';
@import 'infoBar';

.map {
	position: relative;
	padding: 0;
	height: 100%;
	overflow: hidden;

	.pin {
		position: absolute;
		background-image: url('../images/map_unselectedPin.png');
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100px;
		height: 50px;

		h6 {
			padding-left: 50px; 
		}
	}

	.pin-selected {
		background-image: url('../images/map_selectedPin.png');
	}

	.pin1 {
		top: 70%; bottom: auto;
		right: 50%; left: auto;
	}

	.pin2 {
		top: 60%; bottom: auto;
		right: 30%; left: auto;
	}

	.pin3 {
		top: 20%; bottom: auto;
		left: 20%; right: auto;
	}

	.expandedPin {
		padding: 15px;
		height: auto;
		width: auto;
		min-height: 350px;
		min-width: 250px; 
		// TODO: replace this background image with a vector path
		background-image: url('../images/map_item_background.png');
		background-size: 100%;
		background-repeat: no-repeat;

		.address {
			text-align: center;

			h5 {
				margin: 5px;
			}

			.address1 {
				color: $primaryColor;
				font-weight: bold;
			}
		}

		.houseImage {
		 	height: auto;
		 	width: 250px;
		}

		.infoBar {
			background-color: transparent;
		}
	}

	.mapImage {
		height: 100%;
		width: 100%;
	}
}