@import 'searchBox';

.searchBar {
	height: 80px;

	display: flex;
	align-items: center;

	@media (max-width: $width-sm) {
		height: 50px;
	}

	.logo {
		margin: 10px;

		height: 60px;
		width: auto;
		flex-shrink: 0;

		@media (max-width: $width-sm) {
			display: none;
		}
	}

	a {
		flex-shrink: 0;
		margin: 10px;
	}
}